* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #8aa1c1;
}

h1 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  color: white;
}

.contenedor-fecha {
  width: 400px;
  height: 80px;
  margin: auto;
  border: 3px solid #183245;
  border-radius: 10px;
  padding: 30px 0 0 0;
  text-align: center;
  background-color: #bfc3cc;
  font-size: 20px;
  font-family: sans-serif;
}

.txt-fecha {
  height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  text-align: center;
}

.ui-widget {
  font-size: 1.5em;
  font-family: courier;
}
